[% title = "Purchase lists";

js_push_template_path() %]

<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Items</th>
            <th class="btn-icon-2"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>
    [% IF number_preorder_items > 0 %]
                <a href="[% preorder_url | html %]"><em>preorder list</em></a>
    [% ELSE %]
                <em class="text-secondary">preorder list</em>
    [% END %]
            </td>
            <td>[% number_preorder_items %]</td>
            <td></td>
        </tr>

    [% FOR list IN lists %]
        <tr>
            <td>[% display_date(list.date, {html=>1}) %]</td>
            <td><a href="[% list.edit_url %]">[% list.name | html %]</a></td>
            <td>[% list.item_count %]</td>
            <td>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-outline-dark btn-sm btn-quad update" title="Rename purchase list" data-url="[% list.update_url %]" data-name="[% list.name | html %]"  data-bs-toggle="modal" data-bs-target="#updateList">
                        <i class="material-icons">edit</i>
                    </button>
                    <form action="[% list.delete_url %]" method="post">
                        <button type="submit" class="btn btn-outline-danger btn-sm btn-quad" title="Delete purchase list">
                            <i class="material-icons">delete_forever</i>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
    [% END %]
        <tr>
            <td colspan="4">
                <div class="d-grid">
                    <button class="btn btn-outline-primary material-icons" data-bs-toggle="modal" data-bs-target="#addList">add</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<form id="update-list" method="post" action="">
    <div class="modal fade" id="updateList" tabindex="-1" aria-labelledby="updateListLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateListLabel">Rename purchase list <i id="list-name"></i></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="pl-new-name" class="form-label">New name</label>
                        <input id="pl-new-name" class="form-control" type="text" name="name" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Rename purchase list</button>
                </div>
            </div>
        </div>
    </div>
</form>

[% WRAPPER includes/infobox.tt %]
    <em>Purchase lists</em> contain all articles that need to be sourced to prepare the planned meals.
    Sort them into multiple lists for different purchase dates or stores.
    <br>
    The <em>preorder list</em> contains all items whose article requires preorder for the planned number of servings.
</p>

<p>
    <i class="material-icons">lightbulb</i> Pro tip:
    Get well-structured lists by assigning articles their shop section.
    Also items for the same article can be merged by converting them to the same unit.
[% END %]

<form method="post" action="[% create_url %]">
    <div class="modal fade" id="addList" tabindex="-1" aria-labelledby="addListLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addListLabel">Create purchase list</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="pl-name" class="form-label">Name</label>
                        <input id="pl-name" class="form-control" type="text" name="name" value="[% last_input.name %]" required>
                    </div>
                    <div class="mb-3">
                        <label for="pl-date" class="form-label">Date</label>
                        <input id="pl-date" class="form-control" type="date" name="date" min="[% min_date.ymd %]" value="[% last_input.date || default_date.ymd %]" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create purchase list</button>
                </div>
            </div>
        </div>
    </div>
</form>
